body {
	font-family: Lucida, serif;
	background: #bdaec2;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px#8f7f95;
}

article {
	margin: 0px auto;
	text-align: justify;
}

article header h1 {
	color: #572560;
}

article header p {
	background-color: #bdaec2;
	color: rgb(255, 255, 255);
}

article figure {
	border: 3px solid #bdaec2;
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

article figure img {
	width: 100%;
}

article figure figcaption {
	width: 500px;
	font-size: smaller;
	text-align: right;
}

article blockquote {
	width: 600px;
	text-align: left;
	font-style: italic;
	padding: 10px;
	margin: 0 auto;
}

.autor-cytatu {
	font-style: italic;
	text-align: right;
	padding-top: 5px;
	padding-right: 20px;
}

nav ul {
	list-style: none;
	width: 200px;
}

nav ul li {
	background-image: linear-gradient(to right, rgb(130, 87, 135), rgb(86, 61, 89));
	padding: 10px;
	margin: 5px;
	font-family: Lucida, serif;
	text-shadow: 1px 1px 3px rgb(0, 0, 0);
	border-radius: 10px;
	text-align: center;
}

nav ul li:hover {
	background-image: linear-gradient(to right, rgb(86, 61, 89), rgb(130, 87, 135));
	border-radius: 10px;
}

nav ul li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav ul li:last-child {
	border-bottom: 0;
}

header {
	color: rgb(255, 255, 255);
	font-family: Lucida, serif;
	text-shadow: 3px 2px 5px #837688;
	border-bottom: 5px dotted rgb(125, 94, 133);
}

header:hover {
	color: #572560;
}

.aboutme img {
	width: 700px;
}

.aboutme {
	text-align: center;
	font-size: 30px;
	margin: 20px;
}

.tytul {
	display: grid; /*sekcja tytułowa podzielona na siatkę*/
	grid-template-columns: 300px auto 300px; /*sekcja tytułowa podzielona na 3 kolumny*/
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
}


.tytul div img {
	width: 200px;
}


footer {
	padding-top: 60px;
	padding-bottom: 20px;
	border-top: 5px dotted rgb(125, 94, 133);
	text-align: center;
	margin-top: 50px;
}

.menu,
.artykuly,
.na-marginesie {
	float: left;
	padding: 10px;
}

.menu,
.na-marginesie {
	width: 18%;
	text-align: left;
	padding-top: 60px;
}

.artykuly {
	width: 58%;
	text-align: justify;
}

.nie-oblewaj {
	clear: both;

}

/*---------------------*/
.minifotka {
	border: 3px dotted rgb(136, 43, 159);
	width: auto;
	height: 235px;
	float: left;
	margin: 10px;
	padding: 5px;
	line-height: 110px;
	text-align: center;
	font-size: 0;
	vertical-align: middle;
}

.minifotka img {
	border: 3px solid rgb(255, 255, 255);
	padding: 1px;
	height: 230px;
	width: auto;
}

.minifotka:hover {
	background: #d8e0e7;
	border: 3px dotted #572560;
	rotate: 10deg;
}

h4 {
	color: #572560;
	text-shadow: 1px 1px 3px rgb(221, 202, 226);
	margin: 10px;
	text-align: center;
}

h5 {
	color: #572560;
	margin: 20px;
	font-size: 30px;
	text-align: center;
}